<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomLLMBaseURL</key>
	<string>https://4916-2001-da8-8002-6bd1-c5ef-b6e9-2d89-9465.ngrok-free.app</string>
	<key>DashScopeAPIKey</key>
	<string>0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
